.selector{
    width: 3vw;
    text-align: center;
}

.memberRow{
    height: fit-content;
    padding-top: 25px;
}

.emailCol{
    width: 20vw;
}

.paymentOptCol{
    width: 5vw;
    text-align: center;
}

.userID{
    color: rgb(61, 59, 59);
    font-size: medium;
    margin-left: 25px;
    font-family: monospace;
}

.statCol{
    width: 10vw;
    text-align: center;
}

td{
    padding: 15px;
}

tr{
    border-bottom: solid gray 1px;

}

.statusDisplay{
    border-radius: 20px;
    min-width: 85px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
}

.paidStatus{
    background-color: #d0e7dc;
    color: #3d9a6d;
}

.notPaidStatus{
    background-color: #e7d0d0;
    color: #9a3d3d;
}