.tableTitle{
    font-family: "Oswald",sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2.5vh;
    font-size: larger;
    font-weight: bold;
    text-align: center;

    display: flex;
    justify-content: space-between;
    
}

.signoutButton{
    border-radius: 10px;
    border: 0px;
    height: 8%;
    min-width: 90px;
    min-height: 35px;

    background-color: #212529;
    color: white;
    font-weight: bold;
}

.signoutButton:hover{
    background-color: #323437;
}

.homeRoot{
    background-color: #fff;
    width: 90vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: solid gray 2px;

    margin-top: 5vh;
    padding-top: 5vh;

    margin-bottom: 5vh;
    padding-bottom: 5vh;

    z-index: 1;
}